.example-card {
  margin: 0 auto;
  height: calc(100% - 64px);
  max-width: 100%;
  padding-bottom: 50px;
}

.like-button {
  color: #F00;
}

.heart-icon {
  position: relative;
  bottom: -7px;
}

.likes-5 {
  color: blue !important;
}

.likes-10 {
  color: green !important;
}

mat-card-actions {
  position: absolute;
  bottom: 16px;
}


img {
  width: 100%;
  margin: 10px auto;
  display: block;
}