<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="card.pic" alt="Skill image">

  <mat-card-content>
    <p>
      {{card.description}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button class='like-button' mat-button (click)="onLike(card)" [ngClass]="cardClasses(card)">
      <app-loading [show]="loadingCounter>0">LIKE {{card.likes}}</app-loading>
    </button>
    <button mat-button (click)="onShare(card)">SHARE</button>
  </mat-card-actions>
</mat-card>